@media screen and (max-width:779px) {
  aside {
    display:none;
  }
  section {
    width: auto;
  }
}
@media screen and (min-width:780px) {
  aside {
    width: 300px;
    float: left;
  }
  section {
    width: calc(100% - 300px);
    float: right;
  }
}
