@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/cdk/overlay-prebuilt.css';

body {
  margin: 0;
}
.container {
  padding: 20px;
}
.overlayPane {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
